name: dotnet-outdated check
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
    types: [opened, synchronize, reopened]

jobs:
  outdated:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Install dotnet-outdated
        run: dotnet tool install -g dotnet-outdated-tool

      - name: Run dotnet outdated check
        env:
          PATH: ${{ env.PATH }}:/home/runner/.dotnet/tools
        run: dotnet outdated --fail-on-updates --version-lock Major
